<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Monitoreo de Recursos</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="indigo  nav-principal" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="../index.html" class="brand-logo">Rm</a>
    </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>

        <h1 class="header center brown-text text-darken-3">Remote Monitoring</h1>

        <div class="row center">
            <h5 class="header col s12 light brown-text text-darken-4">Monitorea tu pc desde tu casa</h5>
        </div>
        <div class="row center">
            <a href="monitoreo.html" id="download-button" class="btn-large waves-effect waves-light indigo lighten-1">Ver Monitoreo</a>
        </div>
        <div class="row center">
            <a href="transmission.html" id="download-button" class="btn-large waves-effect waves-light indigo lighten-1">Ver Transmission</a>
        </div>
        <br><br>

    </div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Manejo Remoto</h5>

                    <p class="light">Manten pendiente de los recursos que maneja tu pc, ve que usuarios se encuentran
                        activos y esta pendiende del estado de tu maquina en todo momento.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Manejo de descargas</h5>

                    <p class="light">Esta pendiente en todo momento de las descargas que dejaste realizando, o inicia
                        nuevas descargas sin tener que estar dentro del computador de tu casa</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">Fácil Manejo</h5>

                    <p class="light">Hemos diseñado las mas cómodas interfaces para que puedas manejar de la manera mas
                        sencilla posible todos los servicios que ofrece nuestra página de monitoreo</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>

    <div class="section">

    </div>
</div>
<!-- Footer -->
<footer class="page-footer indigo">
    <div class="container white-text">
        Envianos tus Comentarios
    </div>
    <div class="footer-copyright">
        <div class="container">Remote Monitoring © 2016</div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../static/js/materialize.js"></script>
<script src="../static/js/init.js"></script>

</body>
</html>
